<!-- b1 -->
<button
  class="p-4 rounded-[15px] bg-lightblue border-none text-[#F9FDFF] font-bold w-[145px] h-[62px]"
>
  تسجيل الدخول
</button>
<!-- b2 -->
<button
  class="p-4 rounded-[15px] border-lightblue border-solid border-[2px] text-lightblue bg-[#F9FDFF] font-bold w-[145px] h-[66px]"
>
  اطلب الآن
</button>
<!-- b3 -->
<button
  class="p-4 rounded-[15px] bg-lightblue border-none text-[#F9FDFF] font-bold w-[157px] h-[62px]"
>
  تعرف على خدماتنا
</button>
<!-- b4 -->
<button
  class="p-4 rounded-[15px] border-lightblue border-solid border-[2px] text-lightblue bg-[#F9FDFF] font-bold w-[110px] h-[62px]"
>
  اطلب الآن
</button>
<!-- b5 -->
<button
  class="p-4 rounded-[15px] bg-lightblue border-none text-[#F9FDFF] text-[18px] font-bold w-[145px] h-[62px]"
>
  تصفح اعمالنا
</button>
<!-- b6 -->
<button
  class="p-4 rounded-[15px] bg-lightblue border-none text-[#F9FDFF] font-bold w-[145px] h-[62px]"
>
  اطلب الآن
</button>
<!-- b7 -->
<button
  class="p-4 rounded-[15px] bg-lightblue border-none text-[#F9FDFF] font-bold w-[145px] h-[69px]"
>
  أرسل طلبك
</button>
