<!-- Customer 1 -->
<div
  class="w-[406px] h-[312px] bg-[#E0DEE0] p-4 rounded-[10px] feedback flex flex-col justify-center items-center"
>
  <img
    src="/Images/img/customer2.jpeg"
    alt="Feedback - Customer"
    class="w-[100px] h-[100px] rounded-[50%]"
  />
  <h3 class="font-[400] text-lightblue text-[20px] my-3">علي محمد</h3>
  <p class="font-[400] text-center leading-[24px] p-[2px] m-0">
    لقد استخدمت خدمات مطبعة بيكسل للطباعة في عدة<br />
    مناسبات وأنا دائما معجب بالجودة العالية للمنتجات<br />
    والتسليم في الوقت المحدد، فريق العمل محترف<br />
    وساعدني في تحقيق أفكاري
  </p>
</div>
<!-- Customer 2 -->
<div
  class="w-[406px] h-[312px] bg-lightblue p-4 rounded-[10px] feedback flex flex-col justify-center items-center"
>
  <img
    src="/Images/img/customer1.jpeg"
    alt="Feedback - Customer"
    class="w-[100px] h-[100px] rounded-[50%]"
  />
  <h3 class="font-[400] text-[#E0DEE0] text-[20px] my-3">أحمد معاذ</h3>
  <p class="font-[400] text-center text-[#181818] leading-[24px] p-[2px] m-0">
    اعتمدت على مطبعة بيكسل للطباعة لانتاج كتيب ترويجي لشركتي، كانو ممتازين في
    فهم احتياجاتي وتقديم تصميم<br />
    جذاب وجودة طباعة لا مثيل لها
  </p>
</div>
<!-- Customer 3 -->
<div
  class="w-[406px] h-[312px] bg-[#E0DEE0] p-4 rounded-[10px] feedback flex flex-col justify-center items-center"
>
  <img
    src="/Images/img/customer3w.jpeg"
    alt="Feedback - Customer"
    class="w-[100px] h-[100px] rounded-[50%]"
  />
  <h3 class="font-[400] text-lightblue text-[20px] my-3">هيا الخالد</h3>
  <p class="font-[400] text-center leading-[24px] p-[2px] m-0">
    طلبت من مطبعة بيكسل للطباعة تصميم هوية بصرية لعملي الشخصي وطباعة كروت العمل
    ، كانت الخدمة سريعة ،والتصميم كان مبتكراً. أنصح جدا بهم لأي مشروع طباعة
  </p>
</div>
