@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #009de1;
  color: #f9fdff;
}

/* ? --- Fonts --- */
@font-face {
  font-family: Cairo;
  src: url(/Fonts/Cairo/Cairo-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Heaven;
  src: url(/Fonts/DG\ Heaven\ Thin.ttf);
}

/* ? --- Body --- */
body {
  font-family: Cairo, Arial, Helvetica, sans-serif;
  background-color: #f9fdff;
}

/* ? --- Card Feedback --- */
.feedback {
  box-shadow: 0px -4px 8px 0px #00000040 inset;
}

/* ? --- Config Font --- */
h1,
h2,
h3 {
  font-family: Heaven, Arial, Helvetica, sans-serif;
}

/* ? --- Main > Sections --- */
/*  Section 1 */
.home-sh {
  box-shadow: 0px 4px 14px 0px #1d1d1d40 inset;

  box-shadow: 0px 4px 8px 0px #00000040;
}
/*  Section 2 */
main section:nth-child(2) {
  box-shadow: 0px -4px 20px 0px #00000040;
}

.about-sh {
  /* background: #009de14d;
  backdrop-filter: blur(200px); */

  box-shadow: 0 0 100px 20px #009de14d;
}

/* Section 3 */
.br-linear {
  border: 5px solid;
  border-image-source: linear-gradient(360deg, #77b3cb 0%, #14314d 100%);
  border-image-slice: 1;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.rotate-s3 {
  transform: rotate(-26deg);
  position: absolute;
  top: 25px;
  right: -50px;
  box-shadow: 0px 2px 20px 5px #fabf04;
}
/* Section 4 */
.grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.rotate-s4 {
  transform: rotate(26deg);
  position: absolute;
  top: 0;
  left: -50px;
}
/* ? --- Footer --- */
.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
